.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.head {
    @media screen and (max-width: 720px) {
        height: 5rem;
    }

    @media screen and (max-width: 365px) {
        height: 10rem;
        z-index: 2; // for overlapping between typed text and image
    }

    .responsive-header {
        @media screen and (max-width: 920px) {
            font-size: 2rem !important; // overwrites 2.75rem head-text which declared in App.scss;
        }

        @media screen and (max-width: 220px) {
            span {
                color: var(--gray-color);
            }
        }
    }
}

.app__profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
    z-index: 1; // for overlapping between typed text and image
}

.app__profile-item {
    width: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;

    img {
        width: 100%;
        height: 170px;
        border-radius: 15px;
        object-fit: cover;
    }

    p {
        text-align: justify;
    }

    @media screen and (min-width: 2000px) {
        width: 370px;
        margin: 2rem 4rem;

        img {
            height: 320px;
        }
    }
}

@mixin disableTextSelect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.app__details {
    display: flex;
    justify-content: space-evenly;

    width: 85%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.app__details-firstcolumn {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h1 {
        margin-left: 0.5rem;
        margin-bottom: 3px;
    }

    .app__educations {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;

        @include disableTextSelect;

        .app__education {
            display: flex;
            align-items: center;

            margin-bottom: 10px;
            padding: 10px;
            border-radius: 15px;

            background-color: var(--primary-color);
            transition: all 0.3s ease-in-out;

            &:last-child {
                margin-bottom: 0;
            }

            .app__education-logo {
                width: 4rem;
                height: 4rem;

                img {
                    width: 100%;
                    height: 100%;

                    object-fit: contain;
                    filter: grayscale(1);
                    transition: all 0.3s ease-in-out;
                }
            }

            .app__education-info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                margin-top: 10px;
                margin-left: 10px;

                .info-year {
                    text-align: right;
                    color: var(--gray-color);
                    font-size: 0.8rem;
                }

                @media screen and (max-width: 900px) {
                    flex-direction: column;
                    align-items: center;

                    .info-school {
                        text-align: center;
                    }

                    .info-year {
                        text-align: center;
                    }
                }
            }

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }

            @media screen and (min-width: 2000px) {
                .app__education-logo {
                    width: 8rem;
                    height: 8rem;
                }

                .app__education-info {
                    font-size: 2rem;

                    .info-year {
                        font-size: 2rem;
                        font-size: 1.6rem;
                    }
                }
            }

            &:hover {
                cursor: pointer;
                scale: 1.05;
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
                color: var(--secondary-color);

                img {
                    filter: grayscale(0);
                }
            }
        }
    }

    @media screen and (max-width: 900px) {
        width: auto;

        h1 {
            text-align: center;
            margin-left: 0;
        }
    }
}

.app__details-secondcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 1rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 2000px) {
        flex-direction: row;
        align-items: center;
    }
}

.secondcolumn-firstrow {
    display: flex;
    flex-direction: column;

    margin-left: 2rem;

    h1 {
        margin-left: 0.5rem;
        margin-bottom: 3px;
    }

    .app__languages {
        padding: 15px 15px 0;

        background-color: var(--primary-color);
        border-radius: 15px;
        transition: all 0.3s ease-in-out;

        @include disableTextSelect;

        .app__language {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 15px;

            .app__language-flag {
                width: 3rem;
                height: 2rem;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .app__language-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                width: 100%;
            }

            @media screen and (min-width: 2000px) {
                flex-direction: column-reverse;

                .app__language-flag {
                    margin-top: 2rem;
                    width: 6rem;
                    height: 4rem;
                }

                .app__language-info {
                    margin-top: 1rem;
                    align-items: center;
                    h4, p{
                        text-align: center;
                        font-size: x-large;
                    }
                }
            }
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
            scale: 1.05;
        }
    }

    @media screen and (max-width: 900px) {
        margin-left: 0;

        h1 {
            text-align: center;
            margin-left: 0;
        }
    }
    @media screen and (min-width: 2000px) {
        h1 {
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }
}

.secondcolumn-secondrow {
    display: flex;
    flex-direction: column;

    margin-left: 2rem;

    h1 {
        margin-left: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 3px;
    }

    .app__interests {
        padding: 15px 15px 0;

        background-color: var(--primary-color);
        border-radius: 15px;
        transition: all 0.3s ease-in-out;

        @include disableTextSelect;

        .app__interest {
            display: flex;
            justify-content: space-around;
            align-items: center;

            margin-bottom: 3px;

            .app__interest-icon {
                width: 1.7rem;
                height: 1.7rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            @media screen and (min-width: 2000px) {
                flex-direction: column;
                justify-content: flex-start;

                .app__interest-icon {
                    width: 3.4rem;
                    height: 3.4rem;
                    margin-top: 2rem;
                }

                p {
                    margin-top: 0.9rem;
                    text-align: center;
                    font-size: x-large;
                }
            }
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
            scale: 1.05;
        }
    }

    @media screen and (max-width: 900px) {
        margin-left: 0;

        h1 {
            margin-left: 0;
            margin-top: 2rem;
            text-align: center;
        }
    }

    @media screen and (min-width: 2000px) {
        h1 {
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }
}
